/* CSS file, always applied */

:root {
  --mirabel-orange: #eb6909;
  --mirabel-bleu: #0060a9;
}

/* Emulate the readonly behavior for a HTML SELECT */
select[readonly] option, select[readonly] optgroup {
	display: none;
}

/* overload Boostrap */
.alert, .alert h4 {
	color: #996f28;
}
code {
	color: inherit;
}
.form-actions::before,
.form-actions::after {
	display: none;
}

/*
 * fonts *
 */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(/css/fonts/ArchivoNarrow-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo Narrow Bold'), local('ArchivoNarrow-Bold'), url(/css/fonts/ArchivoNarrow-Bold.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Archivo Narrow';
  font-style: italic;
  font-weight: 400;
  src: local('Archivo Narrow Italic'), local('ArchivoNarrow-Italic'), url(/css/fonts/ArchivoNarrow-Italic.ttf) format('truetype');
  font-display: swap;
}

/* Remove a webkit (Chrome) effect, because bootstrap already uses border bottom for this */
abbr[title], acronym[title] {
    text-decoration: none;
}

#page {
	padding-top: 3ex;
	padding-bottom: 6ex;
}

#navbar-top-separator {
	display: none;
}
.nav-collapse #navlink-help {
	margin-left: 0;
}
/* See https://github.com/twbs/bootstrap/issues/7968 */
.dropdown-backdrop {
	position: static;
}

.input-append .icon-search {
	margin: 0 5px 0 3px;
}
#main-search-form {
	clear: left;
	margin-bottom: 2ex;
}
#main-search-form input.search-query {
	width: 270px;
}
#main-search-form form,
#main-search-form .advanced-search {
	display: inline-block;
}
#main-search-form .advanced-search {
	margin-left: 2em;
	vertical-align: middle;
}

.help-block {
	clear: left;
}
.help-inline.error {
	color: #b91313;
}
td.danger, td.error {
	background-color: #f2dede;
}

.abcd-revues ul > li {
	list-style-type: none;
	list-style-image: none;
	display: inline;
}
.abcd-revues ul > li a {
	padding: 0px 0.5ex 0px 0.5px;
	font-family: sans-serif;
	font-size: 15px;
}

img {
	max-width: none;
}

.navbar .nav > li.etablissement > a {
	padding: 0;
}
.navbar .etablissement img {
	height: 40px;
}
.navbar .brand {
	padding-right: 25px;
	border-right: thin solid #ccc;
	margin-right: 15px;
}
.navbar .brand em {
	font-size: 50%;
}
.navbar .brand img#logo {
	margin: -20px 0 -20px 0;
}
.navbar #item-list {
	margin-left: 2em;
}
#navlink-help {
	font-size: 20px;
	margin-left: 3ex;
}
.navbar .nav .overlay {
	color: red;
	position: relative;
	left: -4px;
	top: 6px;
}

.navbar .badge-warning a {
	color: black;
}

#institute-warning {
	font-size: 12px;
	position: absolute;
	left: 0;
	padding-top: 3px;
	line-height: 14px;
}

.search-query {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}
#search-summary {
	margin-bottom: 1ex;
}

footer {
	padding: 4ex 0px 2ex 0px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	/*
	#cbd7e7 couleur initiale
	#eff5fa gde feuille bas droite
	#edf5ff gde feuille haut droite
	#f1f7ff tige
	*/
	background-color: #edf4ff;
	clear: both;
}
footer .slogan {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 1ex;
}
footer #footer-message {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
footer #footer-message > * {
	flex: 1 2 100px;
}
footer #footer-message .footer-main {
	flex: 3 1 auto;
	text-align: center;
	vertical-align: bottom;
}
footer .footer-logo {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	justify-content: center;
	column-gap: 2ex;
	margin-top: 6px;
}
footer .footer-logo img {
	margin: 0 1ex;
}
footer .links {
	display: inline-flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	text-align: left;
	line-height: 16px;
	margin-top: 4px;
	padding: 5px 2ex 4px 1ex;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}
footer .align-left, footer .align-right {
	max-width: 400px;
}
footer .align-left {
	text-align: left;
}
footer .align-right {
	text-align: right;
}
footer .align-left .links {
	border-right: 1px solid orange;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
footer .align-right .links {
	border-left: 1px solid orange;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
footer .links a {
	flex: 1 1 10ex;
	align-self: center;
	font-size: 12px;
	padding: 7px 1ex;
	text-align: center;
}
footer #form-footer-institute {
	margin: 0;
}
footer #form-footer-institute select {
	width: 25ex;
	margin: 0;
}

.pagination .compact a {
	padding: 0 8px;
	line-height: 24px;
}
.pagination-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.pagination-block > div {
	display: flex;
	align-items: baseline;
}

.pull-right-icon {
	float: right;
	margin-left: -14px;
	line-height: 32px;
}

.list-results {
	clear: right;
}

#export-results {
	min-height: 20px;
	padding: 10px 19px 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: thin solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
#export-results summary {
	font-size: 14px;
	font-weight: bold;
}

span.titre-sigle {
	margin: 0 1ex 0 2ex;
	float: right;
}

span.alerte-orange {
	color : var(--mirabel-orange);
}

#page h1 {
	font-family: 'Archivo Narrow', sans-serif;
	margin-bottom: 1ex !important;
	color:var(--mirabel-bleu);
}
#page h2 {
	font-family: 'Archivo Narrow', sans-serif;
	color : var(--mirabel-orange);
	border-style: dashed;
	border-color: #cccccc;
	border-width: 1px 0px 1px 0px;
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 15px;
	clear: left;
	/* do not overlap floats */
	overflow: hidden;
}
#page h2:first-child {
	margin-top: 0px;
}
#page h3 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 26px;
}
#page h4 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
	line-height: 22px;
	font-style: italic;
}

.guest-operations {
	float: right;
	margin-right: 40px;
}

.pagination {
	height: auto !important;
}
.pagination.subpagination {
	margin: -18px 0 18px 0;
}
.pagination.subpagination li:first-child a,
.pagination.subpagination li:last-child a,
.pagination.subpagination li a {
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px
}

.sudoc-info {
	border: 1px solid #808080;
	padding: 2px 4px;
	margin: 1px 0px;
}
.sudoc-info > p {
	text-align: center;
}
.sudoc-info .actions {
	text-align: right;
}

.form-horizontal .form-compact .control-group {
	margin-bottom: 10px;
}

#content .alert-success
{
	color: var(--mirabel-bleu);
	background-color: #e9e9e9;
	border : 1px solid var(--mirabel-bleu);
}

#header .navbar .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0px;
  border-bottom: 6px solid linear-gradient(to bottom, #c6c6c6, #FFFFFF);
}
.navbar-bottom-separator {
	height: 14px;
	width: auto;
	margin-bottom: -14px;
	background-color: #C6C6C6;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #C6C6C6 0%, #FFFFFF 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #C6C6C6 0%, #FFFFFF 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #C6C6C6 0%, #FFFFFF 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C6C6C6), color-stop(1, #FFFFFF));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #C6C6C6 0%, #FFFFFF 100%);
	/* W3C Markup */
	background-image: linear-gradient(to bottom, #C6C6C6 0%, #FFFFFF 100%);
}
.navbar .nav > li > a {
	font-family: 'Archivo Narrow', sans-serif;
	color: var(--mirabel-bleu);
	text-shadow:0;
}
.navbar .nav > li > a:hover {
	font-family: 'Archivo Narrow', sans-serif;
	color: var(--mirabel-orange);
}

#header .navbar .navbar-inner i.glyphicon-lock,
i.cms-private {
	color: #996f28;
	padding-right: 1px;
	font-size: smaller;
}

.navbar .nav {
	font-size: 14px;
}
a:focus
{
	color: var(--mirabel-orange);
	outline-width: 0px;
}

a.nb {
	white-space: nowrap;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover
{
	color: var(--mirabel-orange);
	background-color:#e9e9e9;
}
.navbar .nav > li > a
{
	text-shadow: 0px 0px 0px 0px;
}

.navbar-search .search-query
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;

	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #333333;
	text-shadow: #ffffff;
	background-color: #ffffff;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 0 0 0 0;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	outline-width: 0px;
	outline-style: none;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
.navbar-search button {
	font-size: 13px;
	line-height: 2;
}
.navbar .nav > li.double-line > a {
	font-size: 13px;
	line-height: 14px;
	padding: 6px 10px;
}

#sidebar .alert {
	background-color :#d2e7f2;
}
#content .table tbody tr:hover td, .table tbody tr:hover th
{
	background-color: #e9e9e9;
}

.alert-success {
	background-color: #F4DBC9;
	color: #202020;
}
.alert.alert-info a {
	font-weight: bold;
}

ul.breves > li {
	list-style-type: none;
}
ul.breves > li th:first-child + th {
	color : var(--mirabel-orange);
}
ul.breves > li > table img,
.cms-breve table img,
.breves-titres td.image > a > img,
#bloc-accueil-actu .image img {
	max-height: 60px;
	max-width: 120px;
}
.cms-breve table.table-striped tbody > tr:nth-child(odd) > td:first-child {
	background-color: inherit;
}
.cms-page img[src^="/images/logos/"] {
	max-height: 100px;
	max-width: 120px;
}


.breves-titres td {
	padding: 0.5ex 4px;
	vertical-align: top;
}
.breves-titres .image {
	vertical-align: middle;
}
.breves-titres .date {
	font-weight: bold;
}
.breves img {
	max-width: 100%;
}

#modif-verif {
	margin-top: 2.5ex;
}
#modif-verif p {
	font-size: small;
}

#lettres-information > p {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}
#lettres-information a {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	background: no-repeat center/100% url(/images/lettre_vignette_vide.png);
	width: 11em;
	height: 8.5em;
	padding: 0.5em 2em 1.1em 2em;
	margin-bottom: 1ex; 
	text-align: center;
	color: #0048b0;
}
#lettres-information a:hover {
	text-decoration: none;
}
#lettres-information a > *:first-child {
	display: block;
	font-size: large;
}
#lettres-information a > *:not(:first-child) {
	padding-bottom: 20px;
}

/* medium screen */
#accueil-bandeau {
	margin: 4ex 0 10ex 0;
}
#accueil-bandeau h2 {
	margin: 0;
	border: none;
}
#accueil-gauche {
	float: left;
	width: 100%;
	margin-right: -330px;
}
#accueil-gauche > div {
	margin-right: 430px; /* 330 + 100 */
}
#accueil-droite {
	float: right;
	text-align: right;
	width: 330px;
}
#bloc-accueil-principal {
	margin-top: 2ex;
}
#bloc-accueil-principal p {
	text-align: justify;
}
#bloc-accueil-actu {
	display: inline-block;
	clear: right;
	text-align: left;
}
#accueil-gauche .jstree {
	column-count: 2;
}
.jstree-node {
	break-inside: avoid;
}

.table-services .s-rem {
	float: right;
	white-space: nowrap;
	padding-left: 1.5ex;
}
.table-services .s-couverture {
	white-space: nowrap;
}
.table-services .service-link {
	font-weight: bold;
	white-space: nowrap;
}
.table-services .service-ressource a {
	opacity: .5;
}
.table-services .service-link .icon-home {
	margin-left: 0.3ex;
	opacity: 0.6;
}

#extended-search-results {
	margin-bottom: 2ex;
	width: 100%;
}
#extended-search-results.with-facettes {
	display: flex;
	flex-direction: row-reverse;
	gap: 1.5em;
}
#extended-search-results > aside {
	max-width: 34%;
	border: thin solid #eee;
	padding: 2px 4px;
}
#extended-search-results.with-facettes > aside {
	flex: 1 1 30%
}
#extended-search-results > div {
	flex-grow: 1;
}
#extended-search-results .revue-details {
	padding: 6px 1ex;
	margin-top: 12px;
	background-color: #f6f4f480;
	border-radius: 8px;
}
#extended-search-results .revue-details > .title {
	font-weight: bold;
	padding-bottom: 1ex;
}
#extended-search-results .revue-details .revue-columns {
	display: grid;
	grid-template-columns: auto minmax(30%, 50%);
	row-gap: 4ex;
}
#extended-search-results .revue-details .revue-columns.peu-de-liens {
	grid-template-columns: 3fr 1fr;
}
#extended-search-results .revue-details .revue-columns > div:nth-child(2) {
	padding-left: 2em;
}
#extended-search-results .revue-details .categories-labels {
	font-size: 12px;
	line-height: 18px;
	margin-top: 3px;
}
#extended-search-results .revue-details a.politique-publication {
	display: inline-block;
	line-height: 19px;
	background-color: #f6f4f480;
	border: 1px solid #cccccc;
	color: #0088cc;
	text-align: center;
	vertical-align: middle;
}
#extended-search-results .revue-details .referencement {
	line-height: 24px;
	margin: 12px 0 0 0;
	padding: 0;
}
#extended-search-results .revue-details .categories-labels > abbr,
#extended-search-results .revue-details .categories-labels > span {
	padding: 0.1em 0.4em;
}
#extended-search-results .revue-details div.suivi-self::before,
#extended-search-results .revue-details div.suivi-other::before,
#extended-search-results .revue-details div.suivi-none::before {
	display: none;
}
@media(max-width: 768px) {
	#extended-search-results.with-facettes {
		flex-direction: column;
	}
	#extended-search-results.with-facettes > aside {
		max-width: 100%;
	}
	#extended-search-results .revue-details > .title {
		margin-top: 16px;
	}
	#extended-search-results .revue-details .revue-columns {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	#extended-search-results .revue-details .revue-columns > div:nth-child(2) {
		padding-left: 0;
		border-left: none;
	}
	#extended-search-results .revue-details .referencement {
		margin: 0;
	}
}
svg.frise-body .group-service-bars {
	cursor: pointer;
}

.legende {
	float: right;
	padding: 0px 14px 10px 14px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.legende > h3 {
	font-size: 18px;
	margin: 0;
}
.legende > ul {
	margin-bottom: 0;
}

#link-login-recover {
	margin-top: 2ex;
}

/* titres, ressources et editeurs*/
.suivi-self {
	background-color: #e9e9e9;
}
/*
.suivi-other {
	background-color: #f4dbc9;
}
*/
ul > li.suivi-self,
ul > li.suivi-other {
	list-style-image: url(/images/list-marker.png);
}
ul > li.suivi-none {
	list-style-image: url(/images/list-square.png);
}
/* colonne suivi explicite (pages /verification) */
div.controleur-verification span.suivi-self {
	color: black;
	background-color: #e9e9e9;
}
div.controleur-verification span.suivi-other {
	color: black;
}

span.suivi-self,
span.suivi-other,
td.suivi-self,
td.suivi-other,
ol > li.suivi-self::marker,
ol > li.suivi-other::marker {
	color: var(--mirabel-orange);
}
tr.suivi-self > td:first-child,
tr.suivi-other > td:first-child {
	padding-left: 2ex;
	background-image: url(/images/list-marker.png);
	background-repeat: no-repeat;
	background-position: left center;
}
tr.suivi-self > td:first-child,
tr.suivi-other > td:first-child {
	padding-left: 2ex;
	background-image: url(/images/list-marker.png);
	background-repeat: no-repeat;
	background-position: left center;
}
tr.suivi-none > td:first-child,
tr.suivi-none > td:first-child {
	padding-left: 2ex;
	background-image: url(/images/list-square.png);
	background-repeat: no-repeat;
	background-position: left center;
}
div.suivi-self::before,
div.suivi-other::before {
	content: url(/images/list-marker.png);
	padding-right: 1ex;
	position: relative;
	bottom: 2px;
}
div.suivi-none::before {
	content: url(/images/list-square.png);
	padding-right: 1ex;
	position: relative;
	bottom: 2px;
}

.list-view .summary {
	text-align: left;
}
#global-search-results .well {
	background-color: inherit;
	clear: right;
}
.create-button {
	float: right;
}
.create-button .btn {
	font-size: 12px;
	line-height: 16px;
	padding: 3px 12px;
}

#revue-legend {
	float: right;
}
#sidebar #revue-legend {
	float: none;
}

#sidebar form {
	margin-bottom: 0px;
}

/* listes */

#bloc-accueil-connecte li,
.modifs-suivies .tab-pane > ul > li,
#page-presentation li,
#page-aide li,
.objets-suivis li,
#bloc-accueil-principal > ul > li
{
	list-style-image: url(/images/list-marker.png);
}

.modifs-suivies .tab-pane > ul > li ul > li {
	list-style-type: circle;
	list-style-image: none;
}

label.subelement {
	display: inline;
	display: inline-block;
	width: 9ex;
	text-align: right;
	padding-right: 1ex;
}

.prefill-contact {
	display: inline;
	white-space: nowrap;
}
.prefill-contact button {
	padding: 0px 4px;
}
.contact-outside {
	position: absolute;
	left: -1600px;
}

.sherpa {
	display: none;
}
span.oa-summary {
	padding: 0 1ex;
	color: black;
}
#page .sherpa-oa h3 {
	color: var(--mirabel-orange);
}
.sherpa-oa .oa-options {
	padding-left: 1.5ex;
}
.sherpa-oa section,
.sherpa-titles {
	margin-bottom: 2ex;
}
.sherpa-oa a.help-popover {
	font-size: 13px;
}
.sherpa-oa i[class^="icon-"] {
	vertical-align: baseline;
}
.sherpa-oa .block-value {
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
}
span.cc-icon {
	position: relative;
	top: 1px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

/* #politique-utilisateur */
form .editeur span.glyphicon-ok,
form .editeur span.glyphicon-hourglass {
	display: inline;
	color: green;
}

.politique-actions {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 2ex;
	margin-left: 2ex;
}
.politique-actions a {
	padding: 2px 10px;
}
#titres ol li {
	margin-bottom: 2ex;
}

#accueil-droite #presentation-video video {
	width: 100%;
	height: auto;
}
#page-presentation #presentation-video {
	text-align: center;
}

.active-title {
	margin-top: 2ex;
	display: flex;
}
.title-front {
	display: inline-block;
	flex: 0 0 96px;
}
.active-title.with-front > .title-attributes {
	flex: 1;
	min-height: 128px;
}
#revue-acces .actions {
	float: right;
	margin-top: -2px;
	margin-left: 20px;
}
#revue-acces .actions a + a {
	margin-left: 16px;
}
.titre-couverture img {
	object-fit: cover;
	border: 1px solid #606060;
	max-height: 128px !important;
	max-width: 128px !important;
}
.no-front .title-front,
.no-front .overlay {
	display: none;
}
.with-front .overlay {
	position: absolute;
	z-index: 99;
	width: 96px;
	height: 128px;
}
.title-attributes {
	display: flex;
	flex: auto;
}

td[data-href] {
	cursor: pointer;
}

.saisie-liens .error label,
.saisie-liens .error input,
.saisie-liens .error .help-inline
{
	color: #b94a48;
}

.detail-view .null {
	color: #703838;
}
.detail-view a + .autresliens {
	margin-left: 2ex;
}
.detail-view .autresliens,
.detail-view .labellisation {
	display: inline;
	margin: 0;
	padding: 0;
}
.revue-details ul.referencement > li,
.detail-view .autresliens li,
.detail-view .labellisation li {
	margin: 0 2ex 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	white-space: nowrap;
}
.detail-view .autresliens li img {
	margin-right: 2px;
	max-height: 16px;
	max-width: 16px;
}

/* form Titre */
#titre-form .editeurs label,
#titre-form #editeurs label {
	display: inline-block;
}
#titre-form .relation-titre-editeur .runin {
	float:left;
	padding: 10px 15px 10px 0;
	height: 3ex;
	width: 24px;
}
#titre-form label.editeur-nom {
	font-weight: bold;
}
#titre-form .relation-titre-editeur label {
	margin-left: 3ex;
}
#titre-form .relation-titre-editeur label input[type="checkbox"] {
	margin-left: 0;
	vertical-align: text-bottom;
}
#titre-form .relation-titre-editeur label.editeur-ancien {
	display: block;
	margin-left: 0;
}

#titre-editeurs-form .relation-titre-editeur {
	margin: 0;
}
#titre-editeurs-form .relation-titre-editeur label {
	margin: 0 3ex 0 0;
}

.jstree-edit-inline {
	float: right;
}
.jstree-edit-inline > button {
	font-size: 11px;
	line-height: 12px;
}
li.jstree-node {
	clear: both;
}

#rc-modifications li {
	line-height: 28px;
	padding: 2px 1ex;
}
#rc-modifications li.to-add {
	background-color: #F0F0F0;
}
#rc-modifications li.to-remove {
	background-color: #FFD0D0;
}
#rc-modifications .action-drop {
	float: right;
}

.statut-inactif {
	background-color: #FFF0F0;
}
.statut-provisoire {
	background-color: #F0F0FF;
}
.statut-demo {
	background-color: #F0FFF0;
}

.volno {
	font-size: 14px;
}
.volno .control-label {
	font-size: 12px;
}

#categorie-description {
	min-height: 8ex;
}

#revue-categories {
	margin-top: 12px;
}
.categories-labels > abbr,
.categories-labels > span {
	display: inline-block;
	border-radius: 0.25em;
	padding: 0.15em 0.6em 0.2em 0.6em;
	text-align: center;
	vertical-align: baseline;
	white-space: pre;
	background-color: #e2f7ff;
	color: black;
}
.categories-labels > abbr.candidate,
.categories-labels > span.candidate {
	background-color: #d2e7f2;
}
.categories-labels > abbr.candidate::before,
.categories-labels > span.candidate::before {
	content: "¿ ";
}
.categories-labels > abbr.candidate::after,
.categories-labels > span.candidate::after {
	content: " ?";
}
.controls .categories-labels {
	margin-bottom: 8px;
}

#categorie-tree.avec-revues {
	max-width: 80ex;
}
#categorie-tree.avec-revues li.jstree-leaf:hover {
	background-color: #E7F4F9;
}
.label-revues {
	float: right;
	margin-top: 3px;
	display: inline-block;
	width: 16ex;
	margin-top: 3px;
	text-align: center;
	text-shadow: none;
	background-color: #eeeef2;
	color: black;
	font-weight: 100;
	cursor: pointer;
}
.label-revues i {
	float: right;
	width: 6ex;
	text-align: right;
}
a.label-revues:hover {
	color: black;
	font-weight: 300;
	background-color: #e6e6f0;
}

#search-navigation {
	float: right;
	margin-bottom: 1.5ex;
}
#search-navigation a:hover {
	text-decoration: none;
}

img.partenaire-logo,
img.editeur-logo,
img.ressource-logo {
	max-height: 55px;
	max-width:255px;
	height: auto;
	width: auto;
}
div.ressource-logo {
	float: right;
}

#editeur-presentation img.editeur-logo {
	float: left;
	margin: 0 1ex 1ex 0;
}
#editeur-presentation p {
	text-align: justify;
}
#editeur-presentation li {
	list-style-position: inside;
}
.ui-widget-content section a {
	color: #0088CC;
}

#statsacces {
	margin-bottom: 2ex;
}

#categorierevue-grid, #categorietitre-grid {
	padding-top: 0;
}

.ui-autocomplete.ui-front {
	z-index: 9999;
}
.ui-autocomplete .item-forbid {
	margin-top: -3px;
	color: red;
	font-size: 95%;
}
.ui-menu-item-disabled {
	padding: 3px 1em 3px .4em;
	background-color: #f4f4f4;
}

#categorietitre-grid .alias {
	color: #707070;
}

.categorie-recursive {
	font-size: 12px;
	background-color: #DDDDDD;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
}
.categorie-recursive.disabled {
	text-decoration: line-through;
}

.thematique.thematique-publique tr td:first-child,
.thematique.thematique-privee tr.publique td:first-child {
	font-weight: bold;
}
.thematique.thematique-privee tr.privee td:first-child {
	font-style: italic;
}

.thematique ul {
	margin: 0;
	columns: 2;
}
.thematique ul li {
	list-style: none;
}

/* *****************
 *    Indicateurs
 * ***************** */

.localhost-connection thead {
	display: table-header-group;
}
.localhost-connection tfoot {
	display: table-row-group;
}
.localhost-connection tr {
	page-break-inside: avoid;
}

/* *****************
 *      API
 * ***************** */

#api-yaml {
    float: right;
    max-width: 27ex;
    background-color: #f4f4f4;
    padding: 4px 6px;
}
#api-info {
    clear: both;
}
.api article {
    margin-top: 1ex;
    border: 1px solid #2392f7;
    border-radius: 3px;
}
.api article h3 {
    margin: 0 0 .8ex 0;
    padding: 0.2ex 1ex;
    background-color: rgba(35,247,146,.1);
}
.api article h4 {
    margin: 0 0 1ex 0;
    font-size: 20px;
    padding: 0.8ex 1ex;
    background-color: rgba(35,146,247,.1);
}
.api article dl {
    margin-left: 2ex;
}
.api article dd {
    margin-left: 2ex;
}
#api-definitions article {
    border: 1px solid #23f792;
}
#api-definitions table td {
    padding: .6px 1ex;
	vertical-align: top;
}
#api-definitions tr > td:first-child {
    font-weight: bold;
}
#api-definitions table .description {
    font-style: italic;
    opacity: 0.8;
}

.button-column form {
	display: inline;
}
.button-column {
	white-space: nowrap;
}

#ressource-collections td form {
	display: inline;
}
.collection-description {
	font-family: serif;
	font-size: 13px;
}
.ellipsis {
	max-height: 1.1em;
	position: relative;
	visibility: hidden;
	cursor: help;
}
.ellipsis::before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	visibility: visible;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#service-collections-dynamic label {
	display: inline;
}
#service-collections-dynamic input[type=checkbox] {
	vertical-align: text-bottom;
	margin-right: 4px;
}

figcaption {
	text-align: center;
	font-size: 18px;
}

.lateral-menu-small {
	float: right;
}
.lateral-menu-small > .nav-tabs > li > a {
	line-height: 14px;
}

/* Up and Down Arrows */
.sortable th.ascend::after{
	content: "\25B2";
}
.sortable th.descend::after{
	content: "\25BC";
}

table.issns tr.highlight td.sudoc-ppn,
table.issns tr.highlight td.worldcat-ocn {
	font-weight: bold;
}

span.issn-number {
	white-space: pre;
}
a.issn-bad,
span.issn-bad {
	white-space: pre;
	text-decoration: line-through;
}

.btn-mirabel:hover,
.btn-mirabel:focus,
.btn-mirabel:active,
.btn-mirabel.active,
.btn-mirabel.disabled,
.btn-mirabel[disabled] {
    color: #ffffff;
    background-color: var(--mirabel-orange);
}
.btn-mirabel {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--mirabel-orange);
    background-image: -moz-linear-gradient(top, #f26f0f, #e16404);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f26f0f), to(#e16404));
	background-image: -webkit-linear-gradient(top, #f26f0f, #e16404);
    background-image: -o-linear-gradient(top, #f26f0f, #e16404);
	background-image: linear-gradient(to bottom, #f26f0f, #e16404);
	background-repeat: repeat-x;
	border-color: #e16404 #e16404 #703838;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.disabled,
.btn-light[disabled] {
    color: #000;
    background-color: #d3d4d5;
	border: thin solid #b3b4b5;
}
.btn-light {
    color: #000;
    background-color: #f8f9fa;
	background-image: linear-gradient(to bottom, white 30%, #fff, #eee);
	background-repeat: repeat-x;
	border-color: #80808060 #80808060 #80808080;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.intervention-commentaire a + a {
	margin-left: 1em;
}
.content-after, .content-before {
	overflow-x: auto;
}

#service-filter-form > label {
    font-weight: bold;
}

a.proxyurl {
	color: #d2e7f2;
}

.logo-open-access {
	float: right;
}
.logo-open-access img {
	margin-left: 8px;
}

#categorie-revues li {
	margin-left: 1.3em;
	list-style: none;
}
#categorie-revues li:first-child {
	margin-left: 0em;
}

tr.log {
	cursor: help;
}

.display-loglevel-1 .success {
	display: none;
}
.display-loglevel-2 .success, .display-loglevel-2 .info {
	display: none;
}
.display-loglevel-3 .success, .display-loglevel-3 .info, .display-loglevel-3 .warning {
	display: none;
}

.hide-success .success {
	display: none;
}
.details {
	display: none;
	position: absolute;
}

.add-on.success {
	color: #468847;
}

summary.contains-block {
	display: block;
}
summary.contains-block > * {
	display: list-item;
}

.link-to-map {
	clear: right;
	float: right;
	text-align: center;
}
.link-to-map figcaption {
	font-size: 12px;
}

.from-markdown {
    overflow-x: auto;
}
.from-markdown table {
	border-collapse: separate;
	border-spacing: 0;
}
.from-markdown table th, .from-markdown table td {
	line-height: 20px;
	padding: 4px 5px;
	border: 1px solid #dddddd;
}
a.heading-permalink {
	visibility: hidden;
}
h1:hover > a.heading-permalink:first-child,
h2:hover > a.heading-permalink:first-child,
h3:hover > a.heading-permalink:first-child,
h4:hover > a.heading-permalink:first-child {
	visibility: visible;
}

#cms-grid td.contenu {
	word-break: break-all;
}

div.alert > form {
	display: inline-block;
	margin: 0;
}

/* politique - assistant */

#politique-assistant {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media(max-width: 990px) {
	#politique-assistant {
		flex-direction: column;
	}
}
#politique-assistant #history .past {
	color: #808080;
}
#politique-assistant #history .future {
	color: #808080;
}

.politique table td:first-child {
	width: 26ex;
}

.button-list {
	display: table;
	margin-left: 3em;
}
.button-list .choice {
	display: table-row;
}
.button-list .choice > * {
	display: table-cell;
	margin: 12px 2ex 12px 0;
}
.button-list .choice button {
	min-width: 10ex;
}

.yesno {
	text-align: center;
}
.yesno button + button {
	margin-left: 4ex;
}

.controls > label.checkbox,
.controls > label.checkbox + a[data-trigger],
.controls > div > label.checkbox {
	display: inline-block;
}
.control-group.direction-vertical > .controls > label.checkbox,
.control-group.direction-vertical > .controls > div > label.checkbox {
	display: block;
}

.container.full-width {
	width: 100%;
	padding: 0 1ex;
}
@media(min-width: 990px) {
	.container.full-width {
		max-width: fit-content;
		min-width: 940px;
	}
}
@media(min-width: 1200px) {
	.container.full-width {
		max-width: fit-content;
		min-width: 1170px;
	}
}

.editeur-partenaire {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: space-between;
}
.editeur-partenaire > .partenaire {
	text-align: center;
}
.editeur-partenaire > .partenaire > * {
	margin-bottom: 2em;
}
.editeur-partenaire > .partenaire > h3 > img {
	vertical-align: bottom;
}
@media(min-width: 990px) {
	.editeur-partenaire > .editeur {
		flex-grow: 1;
	}
	.editeur-partenaire {
		flex-direction: row-reverse;
	}
	.editeur-partenaire > .partenaire {
		max-width: 30%;
	}
}

#container-full-width .popover {
	max-width: none;
}

.columns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 2ex;
}
.columns > * {
	flex: 1 2 auto;
	min-height: inherit;
}
@media(max-width: 768px) {
	.columns {
		flex-flow: column;
		gap: 2ex;
	}
}
@media(min-width: 768px) {
	.columns.same-width > * {
		flex: 1 2 0;
	}
	.columns.large-first > * {
		flex: 1 3 auto;
	}
	.columns.large-first > *:first-child {
		flex: 1 1 67%;
	}
}

#politiques-blocs {
	display: grid;
	grid-template-columns: repeat(2, 35ex);
	grid-auto-rows: 48ex;
	justify-content: space-around;
	row-gap: 4ex;
}
#politiques-blocs h2 {
	border: none;
	margin-bottom: 0;
}
#politiques-blocs .politiques-bloc {
	border: thin solid black;
	padding: 10px 14px;
	background-color: #f5f5f5;
}
#politiques-blocs .politiques-bloc#bloc1 {
	background-color: #edf4ff;
}
@media(min-width: 1200px) {
	#politiques-blocs {
		grid-template-columns: repeat(4, 32ex);
	}
}
@media(max-width: 580px) {
	#politiques-blocs {
		grid-template-columns: repeat(1, 32ex);
	}
}

#correspondances td.source {
	max-width: 10ex;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
}
#correspondances td.source:hover{
    overflow: visible;
	background-color: #E7F4F9 !important;
	position: absolute;
	right: 0;
	max-width: none;
	left: 0;
	text-align: center;
}
#correspondances .hide-matching tr.matching {
	display: none;
}
#correspondances .hide-non-matching tr.non-matching {
	display: none;
}

table.kbart-data .notes {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 20ex;
}
.show-details {
	color: #0088cc;
	text-decoration: underline;
	cursor: pointer;
}

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
}

#integral-sans-issne td:nth-child(6) {
    white-space: pre;
}

.flexstack {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1ex;
	justify-content: space-between;
}
.flexstack > .well {
	margin-bottom: 1ex;
}

dialog .well {
	margin-bottom: 0;
}

.site-actualite-header em {
	color: var(--mirabel-orange);
}

span.micon-new-window,
a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}
a[target="_blank"]:has(img, i[class^=icon], span.glyphicon, span.micon-new-window)::after {
	content: none;
	margin-left: 0;
}
/* When :has() is not implemented... */
a[target="_blank"].noexternalicon::after  {
	content: none;
	margin-left: 0;
}

.time-access-strip {
	display: flex;
}

#facets fieldset + fieldset {
	margin-top: 12px;
}
#facets .facet legend {
	font-size: medium;
	line-height: normal;
	margin-bottom: 8px;
	background-color: #f9f9f9a0;
}
#facets .facet {
	background-color: #f9f9f980;
}
#facets .facet label.radio > span,
#facets .facet label.checkbox > span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#facets .extra-facet {
	display: none;
}
#facets .with-extra .extra-facet {
	display: block;
}
#facets .with-extra .btn-mini {
	display: none;
}

.calendar-week {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 1em;
	gap: 6px;
}
.calendar-day {
	padding: 4px 6px;
	border: thin solid #808080;
}
.calendar-dayofMonth {
	text-align: center;
	font-weight: bold;
}
.today .calendar-dayofMonth {
	background-color: yellow;
}
.calendar-day .time {
	font-family: monospace;
	font-size: small;
}

input:invalid, select:invalid, textarea:invalid {
	background-color: #fff8f29e;
}

table.numbered > tbody > tr > td:first-child {
	text-align: right;
}

table.grappe-index tbody tr td {
    border: none;
    padding: 8px 0 8px 0;
}

#grappes-affichage .grappe-diffusion select {
	max-width: 18ex;
}

.acces-couleur.acces-restreint {
	background-color: #bbbdc0;
}
.acces-couleur.acces-abonne {
	background-color: #5da2d9;
}
.acces-couleur.acces-libre {
	background-color: #0068b4;
}

/* Switch toggle (formats checkbox into switch button) : START */
.switch-checkbox {
	display: inline-block;
	cursor: pointer;
	line-height: 24px;
}
.switch-checkbox > input[type="checkbox"] {
	display: none;
}
.switch-checkbox > input[type="checkbox"] + span.toggler {
	position: relative;
	width: 54px;
	height: 24px;
}
.switch-checkbox > input[type="checkbox"] + span.toggler:before {
	content: "";
	visibility: visible;
	display: inline-block;
	background: #ccc;
	border-radius: 12px;
	width: 54px;
	height: 24px;
	vertical-align: text-top;
}
.switch-checkbox > input[type="checkbox"] + span.toggler:after {
	content: attr(data-label-unchecked);
	display: block;
	visibility: visible;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
	width: 20px;
	height: 20px;
	vertical-align: text-top;
	position: absolute;
	top: 2px;
	left: 2px;
	line-height: 18px;
	text-align: center;
}
.switch-checkbox:hover > input[type="checkbox"] + span.toggler:before {
	background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.switch-checkbox > input[type="checkbox"]:checked + span.toggler:before {
	background: #56c080;
}
.switch-checkbox > input[type="checkbox"]:checked + span.toggler:after {
	content: attr(data-label-checked);
	left: 30px;
}
.switch-checkbox > input[type="checkbox"] + span.toggler + span {
	opacity: 0.7;
	vertical-align: middle;
}
.switch-checkbox > input[type="checkbox"]:checked + span.toggler + span {
	opacity: 1;
	font-weight: bold;
}
/* Switch toggle (formats checkbox into switch button) : END */

.navbar .nav.languages {
	height: 40px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 12px;
}
.navbar .nav.languages > a {
	line-height: 14px;
}

.detail-view tr.url > td {
	max-width: 60em;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
table.wide-cells td {
	max-width: 60em;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
@media(max-width: 1200px) {
	.detail-view tr.url > td {
		max-width: 50em;
	}
	table.wide-cells td {
		max-width: 50em;
	}
}
