/* CSS file, applied when the page is printed */
#header,
#sidebar,
footer .links,
#sel-institute,
a[rel="popover"] {
	display: none;
}

#header > .navbar > div.navbar-inner {
	background-color: white !important;
	background-image: none !important;
}

abbr[title]:after {
	content: "";
}
ul.breadcrumbs > li:first-child > a:before {
	content: "Mir@bel : ";
}

.service-collections > p {
	display: none;
}
.service-collections {
	padding-top: 5px;
	padding-bottom: 0px;
}

.table-export {
	display: none;
}

.politique-view .btn,
.form-actions,
.yiiLog
{
	display: none;
}
