#bloc-accueil-actu {
	width: 400px;
}
#accueil-gauche {
	float: left;
	width: 100%;
	margin-right: -400px;
}
#accueil-gauche > div {
	margin-right: 550px; /* 400 + 150 */
}
#accueil-droite {
	float: right;
	text-align: right;
	width: 400px;
}
